package pages

import (
	"pocket-goth-starter/internal/web/components"
	"pocket-goth-starter/internal/web/components/button"
	"pocket-goth-starter/internal/web/routes"
)

templ DashboardPage() {
	@components.DocType()
	@components.Head()
	@components.Body(Dashboard())
}

templ Dashboard() {
	<p>hello!</p>
	<form method="post" action={ routes.LogoutRoute } hx-boost="true">
		@button.Button(button.Props{
			Type:    "submit",
			Variant: button.VariantDestructive,
		}) {
			Logout
		}
	</form>
}
